{
    "Extensions": [
        ".cli",
        ".pro",
        ".prp",
        ".psu",
        ".rdi",
        ".rut",
        ".saa",
        ".sac",
        ".sae",
        ".sef",
        ".sep",
        ".tfo",
        ".vis",
        ".car",
        ".cca",
        ".cco",
        ".cde",
        ".cen",
        ".com",
        ".cut",
        ".dco",
        ".den",
        ".des",
        ".dve",
        ".emp",
        ".env",
        ".kpi",
        ".pae",
        ".pap",
        ".pas",
        ".pmc",
        ".prc",
        ".pre",
        ".vca",
        ".ven",
        ".cmb",
        ".dpm",
        ".vpm",
        ".mov",
        ".ped",
        ".flo",
        ".int",
        ".imp",
        ".cin",
        ".can",
        ".sat",
        ".enc",
        ".flot",
        ".wsa",
        ".pcl",
        ".pcp",
        ".pdp",
        ".pde",
        ".pds",
        ".pdc",
        ".pdd",
        ".csf",
        ".dsf",
        ".ver",
        ".ppr",
        ".pta",
        ".aup",
        ".pat",
        ".cpt",
        ".dpt",
        ".fot",
        ".rpp",
        ".vef"
    ],
    "Years": [
        "20",
        "21",
        "22",
        "23",
        "24"
    ],
    "Months": {
        "01": "ENERO",
        "02": "FEBRERO",
        "03": "MARZO",
        "04": "ABRIL",
        "05": "MAYO",
        "06": "JUNIO",
        "07": "JULIO",
        "08": "AGOSTO",
        "09": "SEPTIEMBRE",
        "10": "OCTUBRE",
        "11": "NOVIEMBRE",
        "12": "DICIEMBRE"
    },
    "Urls": {
        "urlGenerate": "C:\\dir\\subdir\\",
        "urlReception": "C:\\dir\\subdir\\"
    }
}